.post{
    text-align: center;
}
.comment-div{
    background-color: rgb(243,245,237);
    height: 770px;
    width: 80%;
    /* margin: 10px 330px 180px 550px; */
    margin: 30px 10% 180px 10%;
    border-radius: 30px;

}
.comment-div >p{
    text-align: center;
    color: rgb(233, 116, 116);
    font-size: 15px;
    padding-top: 40px;
}
.text{
    /* margin: 10px 90px 10px 90px ; */
    margin: 10px 10% 10px 10%;
    border-radius: 30px;
    padding: 20px;
}
#comment-name{
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    /* margin: 20px 30px 10px 90px; */
    margin-left: 17%;
}
#comment-email{
    width: 25%;
    padding: 20px;
    border-radius: 30px;
    /* margin: 20px 30px 10px 20px; */
    margin-left: 10%;
}
button{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* margin: 20px 130px 10px 330px; */
    margin: 20px 25% 10px 43%;
    border-radius: 30px;
    background-color: rgb(218,36,36);
    color: white;
    font-weight: bolder;
}
button:hover {
    background-color:  rgb(142,192,56);
}
#text-areaa{
    border-radius: 30px;
    padding: 10px;
    margin-left: 4%;
}
